
@media only screen and (min-width: 320px) {
    .education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        width: 100vw;
        background: linear-gradient(rgb(252, 90, 25) 0%, rgb(255, 255, 255) 100%);
        padding:20px 10px 20px 10px;
    }

    .title {
        margin-bottom: 2%;
    }
}

@media only screen and (min-width: 768px) {
    .education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        background: linear-gradient(rgb(252, 90, 25) 0%, rgb(255, 255, 255) 100%);
        width: 100vw;
        padding: 20px 50px 20px 50px;
    }

    .title {
        margin-bottom: 1%;
    }
}



@media only screen and (min-width: 1024px) {
    .education {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        width: 100vw;
        /* background-color: white; */
        background: linear-gradient(rgb(252, 90, 25) 0%, rgb(255, 255, 255) 100%);
        padding: 20px 100px 50px 100px;
    }

    .title {
        margin-bottom: 2%;
    }
}