.footer {
    background-color: #001219;
    color:white;
    font-family: revert;
    text-align: center;
}

.contactInfo span {
    margin-right: 10px;
}

.contactInfo a {
    font-size: 1.8rem;
    color: #000000;
}

.img{
    vertical-align: sub;
}

.heartIcon {
    color: #ff0000;
}

.footer>p:last-child {
    margin: 10px 0px;
    text-align: center;
}

.ownerName {
    font-weight: bold;
    color:#ea9c8b;
}

@media screen and (min-width:320px) {
    .footer {
        font-weight: 600;
        padding:20px 10px 20px 10px;
    }

    .contactInfo p:first-child {
        font-size: 1.7rem;
        color: #98e2ff;
    }

    .contactInfo p {
        margin-bottom: 0.75rem;
        line-height: 1.5;
    }
}

@media screen and (min-width:768px) {
    .footer {
        padding: 20px 50px 20px 50px;
        font-weight: 600;
    }

    .contactInfo p:first-child {
        font-size: 1.75rem;
        color: #98e2ff;
    }

    .contactInfo p {
        margin-bottom: 0.75rem;
        line-height: 1.5;
    }
}

@media screen and (min-width:1024px) {
    .footer {
        padding: 20px 100px 20px 100px;
    }

    .contactInfo {
        line-height: 10px;
    }

    .contactInfo p:first-child {
        font-size: 2rem;
        font-weight: 600;
        color: #98e2ff;
    }

    .contactInfo p {
        margin-bottom: 0.75rem;
    }
}