@media screen and (min-width:320px) {
    .footer {
        background-color: #0370B9;
        color:white;
        font-family: revert;
        font-weight: 600;
        padding:20px 10px 20px 10px;
    }

    .contactInfo p:first-child {
        font-size: 1.7rem;
    }

    .contactInfo p {
        margin-bottom: 5px;
        line-height: 1.5;
    }

    .contactInfo span {
        margin-right: 10px;
    }

    .contactInfo a {
        font-size: 1.8rem;
        color: #000000;
    }

    .img{
        vertical-align: sub;
    }
    
    .heartIcon {
        color: #ff0000;
    }

    .footer>p:last-child {
        margin: 10px 0px;
        text-align: center;
    }

    .ownerName {
        font-weight: bold;
        color: gold;
    }
}

@media screen and (min-width:768px) {
    .footer {
        padding: 20px 50px 20px 50px;
        background-color: #0370B9;
        color:white;
        font-family: revert;
        font-weight: 600;
    }

    .contactInfo p:first-child {
        font-size: 1.75rem;
    }

    .contactInfo p {
        margin-bottom: 5px;
        line-height: 1.5;
    }

    .contactInfo span {
        margin-right: 10px;
    }

    .contactInfo a {
        font-size: 1.8rem;
        color: #000000;
    }

    .img{
        vertical-align: sub;
    }

    .heartIcon {
        color: #ff0000;
    }

    .footer>p:last-child {
        margin: 10px 0px;
        text-align: center;
    }

    .ownerName {
        font-weight: bold;
        color: gold;
    }
}

@media screen and (min-width:1024px) {
    .footer {
        padding: 20px 100px 20px 100px;
        background-color: #0370B9;
        color:white;
        font-family: revert;
    }

    .contactInfo {
        line-height: 10px;
    }

    .contactInfo p:first-child {
        font-size: 2rem;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .contactInfo p {
        margin-bottom: 5px;
    }

    .contactInfo span {
        margin-right: 10px;
    }

    .contactInfo a {
        font-size: 1.8rem;
        color: #000000;
    }

    .img{
        vertical-align: sub;
    }

    .heartIcon {
        color: #ff0000;
    }

    .footer>p:last-child {
        margin: 10px 0px;
        text-align: center;
    }

    .ownerName {
        font-weight: bold;
        color: gold;
    }
}