@media only screen and (min-width: 320px) {
    .contactContainer {}

    .title {}

    .contactImageAndFormContainer {}

    .contactImageContainer {}

    .contactImage {}

    .contactFormContainer {}

    .formField {}

    .formInput {}

    .submitButton {}

}

@media only screen and (min-width: 768px) {
    .contactContainer {}

    .title {}

    .contactImageAndFormContainer {}

    .contactImageContainer {}

    .contactImage {}

    .contactFormContainer {}

    .formField {}

    .formInput {}

    .submitButton {}
}

@media only screen and (min-width: 1024px) {
    .contactContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 20px 100px 50px 100px;
        background:linear-gradient(#0370B9 0%, #FCD000 100%)
    }

    .title {
        font-weight: 500;
        line-height: 1.2;
    }

    .contactImageAndFormContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        column-gap: 50px;
    }

    /* .contactImageContainer {
        flex-basis: 50%;
    } */

    .contactImage {
        flex-basis: 50%;
        /* width: 100%;
        height: 100%; */
    }

    .contactFormContainer {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 100%;
        row-gap:10px;
    }

    .formField {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid;
        border-radius: 2%;
        width: 100%;
        height: 3.5rem;
        font-size: 1.5rem;
    }

    .formFieldIcon {
        margin: 5px;
        width: 10%;
    }

    .formInput {
        width: 100%;
        margin: 2%;
        font-size: 1rem;
        background-color: transparent;
        border: 0px solid;
    }

    .formInput:focus {
        outline: none;
    }

    .submitButton {
        font-size: 1rem;
        padding: 10px;
        background-color: red;
        border-color: red;
    }
}