.aboutMeContainer {
    background-color: #001219;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 2rem;
}

.selfImage {
    height: 100%;
    border-radius: 5%;
}

.title {
    font-weight: bold;
    font-weight: 700;
    font-size: 3rem;
    color: #98e2ff;
    text-align: center;
}

.information {
    margin: 1rem 0%;
    text-align: justify;
    color: white;
    font-weight: 500;
    font-family: revert;
}

.contactMeButton {
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    border-color: #98e2ff;
    border-radius: 10px;
    font-family: revert;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
}

.contactMeButton:hover {
    box-shadow: 2px 2px 5px 0px #98e2ff;
}

@media only screen and (min-width: 320px) {
    .aboutMeContainer {
        padding: 20px 10px;
        flex-direction: column;
    }

    .selfImage {
        width: 100%;
    }

    .imageContainer{
        text-align: center;
    }

    .title {
        font-size: 2.5rem;
    }

    .information {
        font-size: 1.2rem;
    }

    .contactMeButton {
        position: relative;
        left: 33%;
    }
}

@media only screen and (min-width: 768px) {
    .aboutMeContainer {
        padding: 20px 50px;
        flex-direction: column;
    }

    .selfImage {
        width: 65%;
    }

    .imageContainer{
        text-align: center;
    }

    .title {
        font-size: 3rem;
    }

    .information {
        font-size: 1.2rem;
    }

    .contactMeButton {
        position: relative;
        left: 42%;
    }
}

@media only screen and (min-width: 1024px) {
    .aboutMeContainer {
        padding: 20px 100px 50px 100px;
        flex-direction: row;
    }

    .imageContainer {
        margin-right: 2rem;
        text-align: end;
    }

    .selfImage {
        width: 320px;
    }

    .selfInformationContainer{
        max-width: 1000px;
    }

    .information {
        font-size: 1rem;
    }
}