.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.title {
    margin-bottom: 2%;
}

.container {
    background: linear-gradient( #90ee90 0%, #ffffff 100%);
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

@media screen and (min-width:320px) {
    .container {
        padding: 20px 10px 20px 10px;
        justify-content: center;
    }

    .projects {
        justify-content: flex-start;
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 15px 20px 15px 20px;
    }

    .projects {
        justify-content: center;
    }
}

@media screen and (min-width:1024px) {
    .container {
        padding: 20px 100px 50px 100px;
    }

    .projects {
        justify-content: flex-start;
    }
}