@media screen and (min-width:320px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {
    .container{
        background: linear-gradient(#D27D2D 0%, #0370B9 100%);
        /* background: linear-gradient(135deg, rgb(12, 35, 48) 0%, #04619f 80%); */
        /* background: linear-gradient(rgb(11, 34, 48) 0%, rgb(0, 110, 177) 50%, rgb(12, 35, 48) 100%); */
        /* background-color: white; */
        display: flex;
        width: 100vw;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 20px 100px 50px 100px;
    }
    
    .title{
        margin-bottom: 2%;
    }
    
    .projects{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
}
