.container {
    background:linear-gradient(#FFFFFF 0%, #90EE90 100%);
    display: flex;
    width: 100vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.title {
    margin-bottom: 2%;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

@media screen and (min-width:320px) {
    .container {
        padding:20px 10px 20px 10px;
    }
    
    .skillsContainer {
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .container {
        padding: 20px 50px 20px 50px;
    }

    .skillsContainer {
        justify-content: flex-start;
    } 
}

@media screen and (min-width:1024px) {
    .container {
        padding: 20px 100px 50px 100px;
    }

    .skillsContainer {
        justify-content: flex-start;
    }
}